In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('train.csv')
X = dataset.loc[:,['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Embarked']]

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X.iloc[:,2] = le.fit_transform(X.iloc[:,2])

In [4]:
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch Embarked
0              1       3    1  22.0      1      0        S
1              2       1    0  38.0      1      0        C
2              3       3    0  26.0      0      0        S
3              4       1    0  35.0      1      0        S
4              5       3    1  35.0      0      0        S
..           ...     ...  ...   ...    ...    ...      ...
886          887       2    1  27.0      0      0        S
887          888       1    0  19.0      0      0        S
888          889       3    0   NaN      1      2        S
889          890       1    1  26.0      0      0        C
890          891       3    1  32.0      0      0        Q

[891 rows x 7 columns]

In [5]:
X.Embarked.notnull()

0      True
1      True
2      True
3      True
4      True
       ...
886    True
887    True
888    True
889    True
890    True
Name: Embarked, Length: 891, dtype: bool

In [6]:
X.Embarked.notnull() == True

0      True
1      True
2      True
3      True
4      True
       ...
886    True
887    True
888    True
889    True
890    True
Name: Embarked, Length: 891, dtype: bool

In [7]:
X.iloc[61,6]

nan

In [8]:
lst = (X.iloc[:,6] != 'nan')
print(len(lst))

891

In [9]:
dataset.shape

(891, 9)

In [10]:
#removing all the null values from the emarked column
for i in range(891):
    if X['Embarked'][i] not in ['S', 'C', 'Q']:
        X.loc[i,'Embarked'] = 'S'
X.Embarked = X.Embarked.astype(str)

In [11]:
emb = LabelEncoder()
X.iloc[:,6] = emb.fit_transform(X.iloc[:,6])
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Embarked
0              1       3    1  22.0      1      0         2
1              2       1    0  38.0      1      0         0
2              3       3    0  26.0      0      0         2
3              4       1    0  35.0      1      0         2
4              5       3    1  35.0      0      0         2
..           ...     ...  ...   ...    ...    ...       ...
886          887       2    1  27.0      0      0         2
887          888       1    0  19.0      0      0         2
888          889       3    0   NaN      1      2         2
889          890       1    1  26.0      0      0         0
890          891       3    1  32.0      0      0         1

[891 rows x 7 columns]

In [12]:
#changing the null values from the age to the median of the age data
X['Age'] = X['Age'].fillna(X['Age'].median())

In [13]:
#changing the null values from the age to the mean of the age data
X['Age'] = X['Age'].fillna(X['Age'].median())
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Embarked
0              1       3    1  22.0      1      0         2
1              2       1    0  38.0      1      0         0
2              3       3    0  26.0      0      0         2
3              4       1    0  35.0      1      0         2
4              5       3    1  35.0      0      0         2
..           ...     ...  ...   ...    ...    ...       ...
886          887       2    1  27.0      0      0         2
887          888       1    0  19.0      0      0         2
888          889       3    0  28.0      1      2         2
889          890       1    1  26.0      0      0         0
890          891       3    1  32.0      0      0         1

[891 rows x 7 columns]

In [14]:
X.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,0.647587,29.361582,0.523008,0.381594,1.536476
std,257.353842,0.836071,0.477990,13.019697,1.102743,0.806057,0.791503
min,1.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,2.000000,0.000000,22.000000,0.000000,0.000000,1.000000
50%,446.000000,3.000000,1.000000,28.000000,0.000000,0.000000,2.000000
75%,668.500000,3.000000,1.000000,35.000000,1.000000,0.000000,2.000000
max,891.000000,3.000000,1.000000,80.000000,8.000000,6.000000,2.000000

In [15]:
y = dataset.iloc[:,1]
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
#splitting the data into training and test set
#Changed the random state to 19 for better value accuracy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 19)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(712, 7) (712,)
(179, 7) (179,)

In [17]:
#Preprocessing the data
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
#Training the model
#We don't need Linear Regression since it is a problem of classification hence removing it
irange = np.arange(1,3)
for i in irange:
    if i==1:
        from sklearn.linear_model import LogisticRegression
        logr = LogisticRegression()
        logr.fit(X_train,y_train)
        y_pred = logr.predict(X_test)
        from sklearn.metrics import accuracy_score
        print(accuracy_score(y_test,y_pred))
              
    elif i==2:
        from sklearn import neighbors
        krange = np.arange(1,30,1)
        for k in krange:
                knn = neighbors.KNeighborsClassifier(n_neighbors=k)
                knn.fit(X_train, y_train)
                y_pred = knn.predict(X_test)
                from sklearn.metrics import accuracy_score
                print('Neighbour:',k,accuracy_score(y_test,y_pred))

0.8324022346368715
Neighbour: 1 0.7932960893854749
Neighbour: 2 0.8324022346368715
Neighbour: 3 0.8324022346368715
Neighbour: 4 0.8435754189944135
Neighbour: 5 0.8715083798882681
Neighbour: 6 0.8603351955307262
Neighbour: 7 0.8659217877094972
Neighbour: 8 0.8659217877094972
Neighbour: 9 0.8770949720670391
Neighbour: 10 0.8547486033519553
Neighbour: 11 0.8603351955307262
Neighbour: 12 0.8603351955307262
Neighbour: 13 0.8547486033519553
Neighbour: 14 0.8491620111731844
Neighbour: 15 0.8547486033519553
Neighbour: 16 0.8491620111731844
Neighbour: 17 0.8603351955307262
Neighbour: 18 0.8435754189944135
Neighbour: 19 0.8491620111731844
Neighbour: 20 0.8435754189944135
Neighbour: 21 0.8491620111731844
Neighbour: 22 0.8379888268156425
Neighbour: 23 0.8379888268156425
Neighbour: 24 0.8379888268156425
Neighbour: 25 0.8324022346368715
Neighbour: 26 0.8324022346368715
Neighbour: 27 0.8379888268156425
Neighbour: 28 0.8324022346368715
Neighbour: 29 0.8324022346368715

In [19]:
print('Best model is k neigbors till now. Best value of k is 9')

Best model is k neigbors till now. Best value of k is 9