In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_csv('train.csv')
X = dataset.loc[:,['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Embarked']]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X.iloc[:,2] = le.fit_transform(X.iloc[:,2])

In [ ]:
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch Embarked
0              1       3    1  22.0      1      0        S
1              2       1    0  38.0      1      0        C
2              3       3    0  26.0      0      0        S
3              4       1    0  35.0      1      0        S
4              5       3    1  35.0      0      0        S
..           ...     ...  ...   ...    ...    ...      ...
886          887       2    1  27.0      0      0        S
887          888       1    0  19.0      0      0        S
888          889       3    0   NaN      1      2        S
889          890       1    1  26.0      0      0        C
890          891       3    1  32.0      0      0        Q

[891 rows x 7 columns]

In [ ]:
X.Embarked.notnull()

0      True
1      True
2      True
3      True
4      True
       ...
886    True
887    True
888    True
889    True
890    True
Name: Embarked, Length: 891, dtype: bool

In [ ]:
X.Embarked.notnull() == True

0      True
1      True
2      True
3      True
4      True
       ...
886    True
887    True
888    True
889    True
890    True
Name: Embarked, Length: 891, dtype: bool

In [ ]:
X.iloc[61,6]

nan

In [ ]:
lst = (X.iloc[:,6] != 'nan')
print(len(lst))

891

In [ ]:
dataset.shape

(891, 9)